{% extends 'base.html' %}
{% load static %}
{% block title %} New Product {% endblock title %}

{% block content %}
<div class="wrapper">
    <section>
        <h3 class="text-2xl lg:text-3xl dark:text-light text-gray font-medium transition">
            Add New Product
        </h3>
    </section>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />


    <form method="POST" action="." enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}

        {% for field in form %}
        <div class="field-wrapper">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}

        {% if form.errors %}
        <ul class="bg-rose-500 px-4 py-2 rounded-lg">
            {% for key,value in form.errors.items %}
            <li class="text-white">{{ value|escape }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" class="btn-primary">Create Product</button>
    </form>
</div>
{% endblock content %}