{% extends 'base.html' %}
{% load static %}
{% block title %} Products {% endblock title %}

{% block content %}
<div class="md:grid grid-cols-4 items-start space-y-5 md:space-x-5 lg:space-x-9 wrapper">
    <aside>
        {% include 'components/search-form.html' %}
    </aside>

    <section class="col-span-3">
        <div x-data="{gridLayout: true}">
            <div class="flex justify-between items-center">
                <p class="text-lg dark:text-light">{{ products|length }} Products Found</p>

                <div class="space-x-1">
                    <button class="border-2 rounded-md transition"
                            x-bind:class="gridLayout ? 'border-transparent bg-gray-dark dark:bg-white' : 'border-gray-dark dark:border-white'"
                            x-on:click="gridLayout=true">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6 transition"
                             x-bind:class="gridLayout ? 'text-white dark:text-primary-dark' : 'dark:text-white'">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z"/>
                        </svg>
                    </button>

                    <button class="border-2 rounded-md transition" x-on:click="gridLayout=false"
                            x-bind:class="!gridLayout ? 'border-transparent bg-gray-dark dark:bg-white' : 'border-gray-dark dark:border-white'">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                             class="w-6 h-6 transition"
                             x-bind:class="!gridLayout ? 'text-white dark:text-primary-dark' : 'dark:text-white'">
                            <path fill-rule="evenodd"
                                  d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>
                </div>
            </div>

            <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700"/>

            <template x-if="gridLayout">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 my-6">
                    {% for product in products %}
                    <a href="{% url 'product:detail' product.id %}">
                        <div
                                class="shadow-md rounded-lg p-5 space-y-2 text-center bg-white dark:bg-primary-dark transition">
                            <img src="/media/{{ product.image }}" class="rounded-md mb-5"
                                 alt="{{ product.name }} Image"/>
                            <div class="flex justify-between items-center gap-3">
                                <h3 class="text-md dark:text-light">
                                    {{ product.name }}
                                </h3>
                                <p class="text-sm text-gray dark:text-light">
                                    ${{ product.price }}
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </template>

            <template x-if="!gridLayout">
                <div class="space-y-6 my-6">
                    {% for product in products %}
                    <div
                            class="shadow-md rounded-lg p-5 space-y-3 sm:space-y-0 sm:space-x-7 text-center bg-white dark:bg-primary-dark flex-col sm:flex-row flex items-start transition">
                        <img src="/media/{{ product.image }}" class="rounded-md sm:w-2/5"
                             alt="{{ product.name }} Image"/>
                        <div class="space-y-3 text-left flex-1">
                            <div class="flex justify-between">
                                <h3 class="text-xl dark:text-light">{{ product.name }}</h3>
                                <p class="text-lg text-primary font-medium">${{ product.price }}</p>
                            </div>
                            <p class="text-gray dark:text-light">
                                {{ product.description|slice:":150" }}
                                {% if product.description|length > 150 %} ... {% endif %}
                            </p>
                            <a href="{% url 'product:detail' product.id %}" class="inline-block">
                                <button
                                        class="text-base text-light bg-primary px-3 py-1.5 rounded-md border-primary transition">
                                    Detail
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </template>
        </div>
    </section>
</div>
{% endblock content %}