@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Nunito:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-display;
}

[x-cloak] {
  display: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field-wrapper label {
  @apply auth-input-label;
}

.field-wrapper input,
.field-wrapper textarea {
  @apply auth-input-field;
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl w-full mx-auto px-4 lg:px-12 my-6 py-3 lg:my-11 lg:py-10;
  }

  .nav-link {
    @apply text-secondary-dark dark:text-light font-normal text-base md:text-sm hover:text-light dark:hover:bg-gray-dark md:hover:bg-primary px-3 py-2 rounded-md hover:bg-secondary-dark w-full cursor-pointer transition;
  }

  .btn {
    @apply text-base text-light px-3 md:px-5 py-2 md:py-3 rounded-lg border-2 transition hover:text-secondary-dark hover:bg-transparent dark:hover:text-light;
  }

  .btn-primary {
    @apply btn bg-primary border-primary;
  }

  .btn-secondary {
    @apply text-lg text-secondary-dark bg-transparent dark:text-light hover:text-light hover:bg-primary px-3 md:px-5 py-2 md:py-3 rounded-md border-primary border-2 transition;
  }

  .input-field {
    @apply w-full border-2 border-gray-200 outline-none transition dark:border-transparent rounded-md dark:text-light;
  }

  .input-field-sm {
    @apply input-field px-2 py-1 dark:bg-body-dark;
  }

  .input-field-lg {
    @apply input-field px-4 py-3 dark:bg-primary-dark;
  }

  .input-label {
    @apply mb-1 inline-block text-gray-dark text-base dark:text-white transition;
  }

  .auth-input-field {
    @apply w-full border-2 border-gray-200 outline-none px-4 py-3 rounded-md;
  }

  .auth-input-label {
    @apply mb-1 inline-block text-gray-dark text-base;
  }
}
