@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Nunito:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-display;
}

[x-cloak] {
  display: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl w-full mx-auto px-4 lg:px-12 my-6 py-3 lg:my-11 lg:py-10;
  }

  .nav-link {
    @apply text-secondary-dark dark:text-light font-normal text-sm sm:text-base hover:text-light dark:hover:bg-gray-dark sm:hover:bg-primary sm:px-3.5 sm:py-2.5 rounded-md px-2.5 py-1  hover:bg-secondary-dark w-full cursor-pointer;
  }

  .btn-primary {
    @apply text-lg text-light bg-primary px-3 md:px-5 py-2 md:py-3 rounded-md border-primary border-2 transition hover:text-secondary-dark hover:bg-transparent dark:hover:text-light;
  }

  .btn-secondary {
    @apply text-lg text-secondary-dark bg-transparent dark:text-light hover:text-light hover:bg-primary px-3 md:px-5 py-2 md:py-3 rounded-md border-primary border-2 transition;
  }

  .input-field {
    @apply w-full border-2 border-gray-200 outline-none dark:bg-body-dark transition dark:border-transparent px-2 py-1 rounded-md dark:text-light;
  }

  .input-label {
    @apply mb-1 inline-block text-gray-dark text-base dark:text-white;
  }

  .auth-input-field {
    @apply w-full border-2 border-gray-dark outline-none px-4 py-3 rounded-md;
  }

  .auth-input-label {
    @apply mb-1 inline-block text-gray-dark text-base;
  }
}
